<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.immyc.blog.admin.dao.RoleMapper">
  <resultMap id="BaseResultMap" type="com.immyc.blog.admin.model.Role">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="role_code" jdbcType="VARCHAR" property="roleCode" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
  </resultMap>
  <insert id="insert" parameterType="com.immyc.blog.admin.model.Role">
    insert into sys_role (id, name, role_code, 
      description, sort, create_time, 
      is_deleted, update_time)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{roleCode,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{createTime,jdbcType=BIGINT}, 
      #{isDeleted,jdbcType=BIT}, #{updateTime,jdbcType=BIGINT})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, role_code, description, sort, create_time, is_deleted, update_time
    from sys_role
  </select>

  <update id="updateRole" parameterType="com.immyc.blog.admin.model.Role">
    update sys_role
    <if test="role.name != null and role.name != ''">
      set name = #{role.name}
    </if>
    <if test="role.description != null and role.description != ''">
      ,set description = #{role.description}
    </if>
    <if test="role.sort != null and role.sort != ''">
      ,set sort = #{role.sort}
    </if>
    <if test="role.isDeleted != null and role.isDeleted != ''">
      ,set is_deleted = #{role.isDeleted}
    </if>
    ,set update_time = #{role.updateTime}
    where id = #{role.id}
  </update>

  <delete id="deleteRole" parameterType="java.lang.Long">
    delete from sys_role where id = ${id}
  </delete>

  <select id="maxRoleSort" resultType="java.lang.Integer">
    select max(sort) from sys_role;
  </select>
</mapper>