<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.immyc.blog.admin.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.immyc.blog.admin.model.User">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="login_account" jdbcType="VARCHAR" property="loginAccount" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="salt" jdbcType="VARCHAR" property="salt"/>
    <result column="category" jdbcType="INTEGER" property="category" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="degree" jdbcType="INTEGER" property="degree" />
    <result column="birthday" jdbcType="BIGINT" property="birthday" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
  </resultMap>
  <insert id="insert" parameterType="com.immyc.blog.admin.model.User">
    insert into sys_user (id, user_name, login_account, 
      pwd,salt, category, avatar,
      status, is_deleted, update_time, 
      create_time, degree, birthday, 
      gender)
    values (#{id,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, #{loginAccount,jdbcType=VARCHAR}, 
      #{pwd,jdbcType=VARCHAR},#{salt,jdbcType=VARCHAR}, #{category,jdbcType=INTEGER}, #{avatar,jdbcType=VARCHAR},
      #{status,jdbcType=INTEGER}, #{isDeleted,jdbcType=BIT}, #{updateTime,jdbcType=BIGINT}, 
      #{createTime,jdbcType=BIGINT}, #{degree,jdbcType=INTEGER}, #{birthday,jdbcType=BIGINT}, 
      #{gender,jdbcType=INTEGER})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" parameterType="java.util.Map">
    select id, user_name, login_account, category, avatar, status, is_deleted, update_time,
    create_time, degree, birthday, gender
    from sys_user
    <where>
      <trim prefixOverrides="and">
        <if test="param.userName != null and param.userName != ''">
          and user_name like concat('%', #{param.userName}, '%')
        </if>
        <if test="param.loginAccount != null and param.loginAccount != ''">
          and login_account like concat('%', #{param.loginAccount}, '%')
        </if>
        <if test="param.category != null">
          and category = #{param.category}
        </if>
        <if test="param.startTime != null">
          and create_time &lt; #{param.startTime}
        </if>
        <if test="param.endTime != null">
          and create_time &gt; #{param.endTime}
        </if>
        <if test="param.degree != null and param.degree != ''">
          and degree = #{param.degree}
        </if>
        <if test="param.gender != null">
          and gender = #{param.gender}
        </if>
      </trim>

    </where>
  </select>
</mapper>