<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.immyc.blog.admin.dao.UserRoleMapper">
  <resultMap id="BaseResultMap" type="com.immyc.blog.admin.model.UserRole">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
  </resultMap>
  <insert id="insert" parameterType="com.immyc.blog.admin.model.UserRole">
    insert into sys_user_role (id, user_id, role_id, 
      create_time)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT}, 
      #{createTime,jdbcType=BIGINT})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, user_id, role_id, create_time
    from sys_user_role
  </select>

  <insert id="addUserRolePatch" parameterType="java.util.List">
    insert into sys_user_role (id, user_id, role_id, create_time)
    values 
    <foreach collection="list" item="item" index="index" separator="," close="" open="">
      (
       #{item.id}, #{item.userId}, #{item.roleId}, #{item.createTime}
      )
    </foreach>
  </insert>

  <delete id="deleteUserRolePatch" parameterType="java.util.List">
    delete from sys_user_role where id in
    <foreach collection="list" item="item" index="index" separator="," close=")" open="(">
      #{item}
    </foreach>
  </delete>

  <select id="findUserRoleByUserId" resultType="com.immyc.blog.admin.model.Role">
    select role.* from sys_role role left join sys_user_role u_role on role.id = u_role.role_id where u_role.user_id = #{userId}
  </select>
</mapper>